<!-- Generated template for the VotingComponent component -->
<!--
<ion-grid>
  <ion-col col-2>
-->
    <button ion-button icon-left color="secondary"
            (click)="VotoPositivo()">
      <ion-icon name="md-thumbs-up"></ion-icon>{{ votosPositivos }}</button>
<!--
  </ion-col>
  <ion-col col-2>
 -->
    <button ion-button icon-left color="danger"
            (click)="VotoNegativo()">
      <ion-icon name="md-thumbs-down"></ion-icon>{{ votosNegativos }}</button>
<!--
  </ion-col>
</ion-grid>
-->
